.add-to-wishlist-btn {
  width: 100%!important;
  background: #fff!important;
  background-color: #ffffff!important;
  justify-content: center !important; /* Center label and icon as one unit */
  position: relative;
}

/* Shift icon to the far left while keeping label centered */
.add-to-wishlist-btn .pi-heart {
  position: absolute;
  left: 1rem;
}


.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 20px;
}

/* Keep button height stable even with spinner */
.wishlist-spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem; /* adjust to match text height */
  min-height: 1rem;
  line-height: 1rem;
}

/* Optional: fix button height to ensure no layout shift */
.add-to-wishlist-btn {
  width: 200px;
  height: 40px; /* fixed height */
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #fff !important;
  color: #002d6b !important;
  border: 1px solid #002d6b !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 1rem;
}


.add-to-wishlist-btn:hover {
  background-color: #ccc; /* Darker shade on hover */
  color: #fff!important;
  border: 1px
}

.add-to-wishlist-btn:disabled {
  background-color: #b0c4de;
  color: #6c757d;
  cursor: not-allowed;
}

.add-to-wishlist-btn .pi {
  margin-right: 8px;
}

.wishlist-icon-button {
  background-color: white !important;
  border: none !important;
  padding: 2px !important;
  border-radius: 50% !important;
  height: 30px;
  width: 30px;
  color: #000!important;
  box-shadow: none !important;
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: background-color 0.2s ease;
}

.wishlist-icon-button.p-button-danger {
  color: #e74c3c;
}

.wishlist-icon-button:hover {
  background-color: #333 !important;
}

