/* src/components/item-grid/grid-item-product-card.css */

.grid-item {
  position: relative;
  background: white;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 498px!important;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.grid-item-link {
  text-decoration: none;
}

.stock-status,
.voucher-label {
  font-size: 14px;
}

.stock-status {
  margin-top: -15px;
  margin-bottom: 20px;
}

.item-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}

.item-title {
  font-size: 1.2rem;
  margin: 0 0 10px;
  color: #222;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-description {
  font-size: 0.95rem;
  color: #555;
  margin: 0 16px 16px;
}

.product-rating {
  text-align: center;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.grid-item .promotion-label {
  position: absolute;
  top: 36px;
  left: 0;
  background: #f00;
  color: #fff;
  padding: 4px 10px;
  font-weight: bold;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 2;
}

.grid-item-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
}

.card-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.grid-item .wishlist-icon-button {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 99999;
}

.card-bottom .add-to-cart-btn {
  width: 100%!important;
}

@media (max-width: 768px) {
  .grid-item {
    height: 521px!important;
  }

  /* Disable zoom on mobile */
  .item-image {
    transform: none !important;
  }
}

@media (min-width: 769px) {
  .grid-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }

  .item-image:hover  {
    transform: scale(1.1);
  }
}
