.price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2ecc71; /* green color */
}

.old-price {
  font-size: 16px!important;
  color: #ada8a8!important; /* red color for the crossed-out old price */
  margin-bottom: 0.3rem;
  margin-left: 0.3rem;
}
