/* items.css */

.items-page {
  padding: 20px;
  background: #f9f9f9;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.items-header {
  text-align: center;
  margin-bottom: 40px;
}

.items-header h1 {
  font-size: 2.5rem;
  color: #333;
}

.items-header p {
  color: #666;
  font-size: 1.2rem;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
  align-items: stretch; /* important */
}


/*
.grid-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1); 
}
*/

.grid-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
}

